<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autogarage de Vastloper</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    >

</head>
<body>

<div class = "container">

    <h3> Job management </h3>
    <hr>
    <br>

    <a th:href="@{/Jobs}" class="btn btn-primary mb-2"> Job overview </a>
    <br>

    <a th:href="@{/Job/New}" class="btn btn-primary mb-2"> Create a new job </a>
    <br>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</div>

</body>
</html>