<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autogarage de Vastloper</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    >

</head>
<body>

    <div class="container">

        <a th:href="@{/Administration}" class="btn btn-secondary mb-2"> Back to job management </a>
        <br>

        <h3>
            Concluded job list
        </h3>
        <hr/>

        <table class="table table-bordered table-striped" id="jobs">

            <thead>
            <tr>
                <th> ID </th>
                <th> License plate </th>
                <th> Customer name </th>
                <th> Customer phone number </th>
                <th> Job description </th>
                <th> Total repair cost </th>
                <th> Action </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each = "job: ${jobs}">
                <td th:text = "${job.getJobID()}"> </td>
                <td th:text = "${job.getCarLicensePlate()}"> </td>
                <td th:text = "${job.getCustomerName()}"> </td>
                <td th:text = "${job.getCustomerPhoneNumber()}"> </td>
                <td th:text = "${job.getJobDescription()}"> </td>
                <td th:text = "${job.getTotalRepairCost()}"> </td>

                <td>
                    <a th:href="@{/Job/{ID}/Concluded/DownloadReceipt(ID=${job.getJobID()})}" class="btn btn-success mb-2"> Download receipt </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</body>
</html>